

.container {
/*  background-color: #d6e9ff;*/

}

h1{
  color: #d6e9ff;
  font-family: 'Signika', sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color:#2d8cff;
  font-family: 'Signika', sans-serif;
  font-size: 4.17rem;
}

.zoom{
  color: #2d8cff;
  font-size: 5rem;

}

h3{
  color: #d6e9ff;
  font-family: 'Signika', sans-serif;
  font-size: 3.12rem;

}

.h4black{
  color: #0d0630;
}

h4{
  color:#82bbff;
  font-family: 'Signika', sans-serif;
  font-size: 2.5rem;
}

.darktitle{
  height: 239px;
  width: 922px;
  background-color: #180b5b;
}

.purpletitle{
  height: 239px;
  width: 922px;
  background-color: #777aad;
}

/* css */
