

.container-fluid {
background-color: #d6e9ff;

}

h1{
  color: #d6e9ff;
  font-family: 'Signika', sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color:#2d8cff;
  font-family: 'Signika', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.zoom{
  color: #2d8cff;
  font-size: 5rem;

}

h3{
  color: #d6e9ff;
  font-family: 'Signika', sans-serif;
  font-size: 1.9rem;


}

.h4black{
  color: #0d0630;
}

h4{
  color:#82bbff;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 50px;
}

.darkbox{
  background-color: #180b5b;
  padding-top: 90px;
  z-index: 1;
}

.purplebox{
  box-shadow: -30px 30px #777aad;
  z-index: 2;
}

.bluebox{

  box-shadow: -60px 60px #82bbff;
  z-index: 3;

}

.titlesize{
  height: 239px;
  width: 922px;

}

.tasksize{
  height: 950px;
  width: 922px;
}

.conclusion{
  padding-top: 150px;
}

.background{
  padding-top: 150px;
}

.images{
  padding-top: 60px;

}
/* css */
